html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
  margin: 0px;
}

.search-form {
  padding: 20px;
  width: 100%;
  background-color: aqua;
  text-align: center;
  position: fixed;
}
input {
  padding: 10px;
  font-size: 20px;
}

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-top: 150px;
  list-style: none;
}

.photo-card {
  padding: 10px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

.material-icons {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
}
