
$primary-white-color:#fff;

$hover-link-color:#fce38a;

$primary-grey-color:#333;

$secondary-grey-color:#999;

$pseudo-background-color:#f38181;

$team-background-color:#95e1d3;

$team-name-color:#666;

$team-occupation-color:#a6a6a6;

$footer-form-border-color:#e5e5e5;

$button-text-size:14px;