



   .team__list_person-name, .footer__text, .services__item-skill{
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 400;
   }

    .section__title{
     font-family: 'Kaushan Script';
     font-style: normal;
     font-weight: 400;
   }

    .section__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
   }

   .services__item-description, .section__description{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
   }

   .footer__input::-webkit-input-placeholder,
  .footer__input::-moz-placeholder,
  .footer__input:-ms-input-placeholder,
  .footer__input::-ms-input-placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
  }

  .team__list_person-ocupation,
  .footer__input::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
  }