/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    /* height: auto; */
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
p{
 margin: 0px;
 padding: 0px;
}

ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
 text-decoration: none;   
}

.visually-hidden{
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

/* =============================== */
/* =============================== */
/* =============================== */
/* =============================== */


    /* ======header===== */

    .container{  
        background-image: -webkit-linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
                            url(../img/bg__image/bg-image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 1000px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .container {
            background-image:-webkit-linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),
                             url(../img/bg__image/bg-image@2x.jpg);
                                    
        }
    }  

      
    
    .container__inner{
        width: 1200px;
        margin: 0 auto;
    }

    .link{
        display: block;
    }

    header{
        height: 110px;
        padding: 30px 0px;
        margin-bottom: 75px;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
    }

    header,
    nav,
    .main__nav-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .main__nav-item{
        width: 500px;
    }

    .shopping__panel-item{
        width: 140px;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
    }

    .shopping__panel-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
        width: 20px;
        fill: #fff;
    }
    .shopping__panel-img:hover{
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        fill: #fce38a;
        -webkit-transition: 200ms linear;
        -o-transition: 200ms linear;
        transition: 200ms linear;
    }

    .main__logo-text{
        font-size: 30px;
        color: #fff;
        letter-spacing: -7px;
    }
    .text_uppercase{
        text-transform: uppercase;
    }
    .text_lowercase{
        text-transform: lowercase;
    }

    .main__nav-link{
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 10px;
    }

    .main__nav-list:hover::after{
        content: " ";
        display: block;
        max-width: 100px;
        height: 3px;
        background-color:#fce38a;
    }
    

    .main__nav-link:hover{
        color: #fce38a;
        -webkit-transition: 300ms linear;
        -o-transition: 300ms linear;
        transition: 300ms linear;
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }


    .main__logo{
        -webkit-animation-duration: 4000ms;
                animation-duration: 4000ms;
        -webkit-animation-name: logo;
                animation-name: logo;
    }
    @-webkit-keyframes logo {
        from {
        opacity: 0;
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
        }
        to {
            opacity: 1;
        }
    }
    @keyframes logo {
        from {
        opacity: 0;
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
        }
        to {
            opacity: 1;
        }
    }


    /* =========section-1======== */

.section{
    padding: 50px 0;
}
.main__site-title{
    text-align: center;
} 

.main__site-text{
     font-size: 72px;
     margin-bottom: 15px;
     color: #fff;
}

.main__site-name{
     font-size: 150px;
     margin-bottom: 120px;
     padding: 0 50px;
     color: #fff;
     text-transform: uppercase;
}

.btn{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.main__site-btn{
    width: 160px;
    height: 40px;
    border: #fff 3px solid;
    
    background-color: transparent;
    
}


/* =========section-2======== */

  main,footer, .container{
      margin: 0 auto;
  }

  .section__title{
    font-size: 24px;
    margin-bottom: 66px;
    color:#333;
    text-align: center;
  }

  .section__title::after{
      content: " ";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #f38181;
      margin: 0 auto;
  }

  .section__subtitle{
    display: block;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    margin: 14px 0px 40px;
  }

  .section__description{
      margin-bottom: 90px;
      padding: 0 30px;
  }

  .services__item-icon_clock::before{
      content: url(../img/icons/amazing-services-icon/ALARM.svg);
  }

  .services__item-icon_graph::before{
      content: url(../img/icons/amazing-services-icon/LINE\ GRAPH.svg);
  }

  .services__item-icon_computer::before{
      content: url(../img/icons/amazing-services-icon/COMPUTER\ _\ OK.svg);
  }

  .services__item-icon_book::before{
      content: url(../img/icons/amazing-services-icon/BOOK\ 2.svg);
  }

  .services__item-icon_home::before{
      content: url(../img/icons/amazing-services-icon/HOME.svg);
  }

  .services__item-icon_image::before{
      content: url(../img/icons/amazing-services-icon/IMAGE.svg);
  }

  .services__item-skill{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    padding-left: 30px;
  }

  .services__item-description{
    font-size: 15px;
    padding-left: 64px;
    color: #999;
  }

  .services__item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
      width: 388px;
      margin-bottom: 100px;
  } 

  .services__item:nth-last-child(-n+3){
      margin-bottom: 0px;
  }


  /* ======section-3======= */

  .team__item, .main__footer, .services__list{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }

  .section__description{
    font-size: 15px;
    text-align: center;
    color: #999;
    padding: 0 10px ;
  }

  .team__list-background{
      position: relative;
      width: 380px;
      height: 470px;
      background-color: #95e1d3;
  }

  .team__list_person-name{
      margin: 26px 0 10px 0;
  }

  .team__list_photo-person{
      position: absolute;
      top: 0px;
      left: 0px;
  }

  .social__item,.social__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .social__item{
      position: absolute;
      width: 380px;
      height: 470px;
  }

  .social__link{
    width: 55px;
    height: 55px;
    border-right:  1px solid rgba(243,129,129,0.6);
    background-color: #fce38a;
    text-align: center;
    opacity: 0;
  }

  .social__link_image{
      height: 26px;
      width: 30px;
      fill: #f38181;
  }

  .team__list-photo{
      -webkit-transition: 400ms linear;
      -o-transition: 400ms linear;
      transition: 400ms linear;
  }
  
  .team__list-background:hover .team__list-photo{
      -webkit-transform: translate(-10px,-10px);
          -ms-transform: translate(-10px,-10px);
              transform: translate(-10px,-10px);
      -webkit-transition: 200ms linear;
      -o-transition: 200ms linear;
      transition: 200ms linear;
  }
  
  .team__list-background:hover .social__item{
    background-image: -ms-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    background-image: -moz-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  }

  .team__list-background:hover .social__link{
      opacity: 1;
  }

  .social__list:hover .social__link{
    background-color: #f38181;
  }

  .social__list:hover .social__link_image{
      fill: #fff;
      -webkit-transition: 400ms linear;
      -o-transition: 400ms linear;
      transition: 400ms linear;

  }
  

  .team__list_person-name{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    text-align: center;
  }

  .team__list_person-ocupation{
     color: #a6a6a6;
     text-align: center;
  }

  /* =========footer======= */

  .main__footer{
      height: 56px;
      border-top: 1px solid #e5e5e5;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  .footer__text{
    font-size: 14px;
    color: #333;
  }

  .footer__text-red{
      color: red;
  }

  .footer__input{
      width: 228px;
      height: 39px;
      padding: 0px 10px;
      border: 1px solid #e5e5e5;
      border-right: none;
      outline: none;
      margin-right: -5px;
  }

  .footer__btn{
     height: 38px; 
     width: 150px;
     border: none;
     background-color: #95e1d3;
     outline: none;
     
  }




  

  
    
      