.statistics {
  display: block;
  margin: 30px auto;
  width: 260px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title {
  display: block;
  padding: 10px;
  text-align: center;
  margin: 10px 0px 0px 0px;
  background-color: indianred;
}
